*{
    background: #F3F5FC;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo{
    padding-top: 40px;
    margin-left: 40px;
    width: 5%;
}

main{
    display: flex;
    margin-bottom: 25px;
    margin-left: 80px;
    width: 95%;
}

.section-1{
    margin-left: 185px;
}

.text-area{
    border: none;
    color: #0A3871;
    margin-top: 80px;
    text-transform: lowercase;
    resize: none;
   
}

::placeholder{ 
    color: #0A3871;
}

.text-area:focus{
    outline: none;
}

.informacion{
    color: #495057;
    font-size: 16px;
}
 .muñeco{
    text-align: center;
    background: white;
    width: 450px;
    height: 810px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 24px;
    margin-left: 400px;;
    box-shadow: 1px 1px 15px 3px #cab0ff;
 }

 .muñeco h2{
    background: white;
    font-weight: bold;
    font-size: 24px;
    padding-top: 24px;

 }
 
 .muñeco p{
    background: white;
    font-size: 18px;
    line-height: 19px ;
 }

.mensaje:focus{
    outline: none;
}

.botones{
    display: flex;
    margin-top: 20px;
}

.btn-encriptar{
    background-color: #a26ad3;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 300px;
    font-size: 25px;
}

.btn-desencriptar{
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 300px;
    font-size: 25px;
}

.copiar{
    background: #eee1f8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 60px;
    width: 300px;
    font-size: 25px;
    margin-top: 200px;
    position: absolute;
    right: 162px;
    top: 550px;
}